<app-navbar></app-navbar>

<div class="video-container">
    <video autoplay loop muted>
        <source src="../../../../assets/video/homepage-video.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>
<app-secondary-nav></app-secondary-nav>
<section class="mid-bottom-border">

</section>

<section class="bottom-border">

</section>

<section class="main-underneath">
    &copy; 2023, KC Hunter | <a href="#">Copyright Notice</a>
</section>

<app-bottom-navbar></app-bottom-navbar>
