<div class="top-horizontal"></div>
<nav class="nav nav-fill">
    <a href="#" id="navBtn" class="nav-link no-hover nav-bg-gradient-navtop"><span class="logo"></span></a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/biography">Biography</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/vision">Vision</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/web-design">Webdesign</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/experimental">Experimental</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/audio">Audio</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/multimedia">Multimedia</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/contact">Contact</a>
</nav>
<app-nav-hover></app-nav-hover>