<div class="top-horizontal"></div>
<nav class="nav nav-fill">
    <a href="#" id="navBtn" class="nav-link no-hover nav-bg-gradient-navtop"><span class="logo"></span></a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Biography</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Vision</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Webdesign</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Experimental</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Audio</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Multimedia</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Contact</a>
</nav>
<app-nav-hover></app-nav-hover>