<div class="top-horizontal"></div>
<nav class="nav nav-fill top-nav-bar">
    <a href="#" id="navBtn" class="nav-link no-hover nav-bg-gradient-navtop"><span class="logo"></span></a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/home">Home</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/profile">Profile</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/vision">Vision</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/portfolio">Portfolio</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/experimental">Experimental</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/audio">Audio</a>
</nav>
<app-nav-hover></app-nav-hover>