/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
body, html {
    background: #8c8a8c;
    color: #ffffff;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container-fluid {
    padding: 6px 0 0 0;
    margin: 0;
}

