<nav class="navbar secondary-navbar">
    <a href="#" id="navBtn" class="nav-link no-hover nav-bg-gradient-navtop"><span class="logo"></span></a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Biography</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">3Advanced?</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Awards</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Envision</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()">Methods &amp; Inspiration</a>
    <div class="brand-message">
        The 3Advanced Machine :: Rebirth v1
    </div>
</nav>