<nav class="navbar secondary-navbar">
    <a href="#" id="navBtn" class="nav-link no-hover nav-bg-gradient-navtop"><span class="logo"></span></a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/three-advanced">3Advanced?</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/awards">Awards</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/envision">Envision</a>
    <a href="#" id="navBtn" class="nav-link nav-bg-gradient-navtop" (pointerover)="playAudio()" (pointerout)="stopAudio()" routerLink="/methods-inspiration">Methods &amp; Inspiration</a>
    <div class="brand-message">
        The 3Advanced Machine :: Rebirth v1
    </div>
</nav>